# **PANDAS**

In [1]:
import pandas as pd

In [2]:
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [3]:
series=pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
empty=pd.Series([])
empty

/tmp/ipykernel_20/1789121482.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty=pd.Series([])

Series([], dtype: float64)

In [5]:
a=pd.Series(['d','i','n','e','s',"h"],index=[10,11,12,13,14,15])
a

10    d
11    i
12    n
13    e
14    s
15    h
dtype: object

In [6]:
a=pd.Series(['d','i','n','e','s',"h"],index=[10,11,12,13,14,15],name="my name")
a

10    d
11    i
12    n
13    e
14    s
15    h
Name: my name, dtype: object

In [7]:
scalar_series=pd.Series(0.5)
scalar_series

0    0.5
dtype: float64

In [8]:
scalar_series=pd.Series(0.5,index=[1,2,3])
scalar_series

1    0.5
2    0.5
3    0.5
dtype: float64

# **PANDAS SERIES WITH PYTHON DICTIONARY**

In [9]:
dict_series=pd.Series({"d":1,"i":2,"n":3,"e":4,"s":5})
dict_series

d    1
i    2
n    3
e    4
s    5
dtype: int64

In [10]:
dict_series[0]

1

In [11]:
dict_series[0:3]

d    1
i    2
n    3
dtype: int64

In [12]:
max(dict_series)

5

In [13]:
dict_series=pd.Series({"d":[1,8,9],"i":[2,6,5],"n":[3,7,8],"e":[4,1,5],"s":[5,9,3]})
dict_series

d    [1, 8, 9]
i    [2, 6, 5]
n    [3, 7, 8]
e    [4, 1, 5]
s    [5, 9, 3]
dtype: object

# **PANDAS DATA FRAMES**

In [14]:
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [15]:
#data frame using a list
list=[1,2,3,4,5]
df=pd.DataFrame(list)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [16]:
list=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(list)
print(df)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [17]:
#now using dictionary
a=[{"a":5,"b":6,"c":7,"d":8},
  {"a":6,"b":9,"c":4,"d":2}]
df=pd.DataFrame(a)
df

   a  b  c  d
0  5  6  7  8
1  6  9  4  2

In [18]:
b={"rollno":pd.Series([1,2,3,4,5]),
   "math":pd.Series([10,20,30,40,50]),
   "physics":pd.Series([32,34,56,78,90])
  }
df=pd.DataFrame(b)
df

   rollno  math  physics
0       1    10       32
1       2    20       34
2       3    30       56
3       4    40       78
4       5    50       90

# **READING CSV(COMMON SEPARATED VALUES ) AS DATA FRAMES**

In [19]:
df=pd.read_csv(r"/kaggle/input/data-science-job-salaries/ds_salaries.csv")
df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [20]:
type(df)

pandas.core.frame.DataFrame

# **DATA FRAME FUNCTIONS**

In [21]:
df=pd.read_csv(r"/kaggle/input/data-science-job-salaries/ds_salaries.csv")
df.columns #gives the columns of data frames

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [22]:
df.shape #gives no.of rows and cloumns in data frame

(607, 12)

In [23]:
df.size #gives u no.of cell in df

7284

In [24]:
df.head() #gievs u first 5 row of df to give you an preview of df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [25]:
df.head(2)  #gives first 2 rows

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S

In [26]:
df.tail()  #last 5 rows

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [27]:
df.describe()  #it gives about discription of our df like rows,mean,std,min

       Unnamed: 0    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

In [28]:
df.info() #it also descibes the df 
#we can how many null values are there in df with info function

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [29]:
df2=pd.read_csv(r"/kaggle/input/data-science-salaries-2023/ds_salaries.csv")
df2.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [31]:
df.describe()

       Unnamed: 0    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

# **Handling Missing Values**

In [33]:
df=pd.read_csv(r"/kaggle/input/sample/sample.csv")
df.head()

   Roll No.  Physics  Chemistry  Maths  Computer
0         1     56.0       57.0   58.0      59.0
1         2     23.0       24.0   25.0      26.0
2         3     89.0       25.0   26.0      27.0
3         4     45.0       26.0   27.0      28.0
4         5     23.0       27.0   28.0      29.0

In [34]:
df.isnull() #check null values there are not

    Roll No.  Physics  Chemistry  Maths  Computer
0      False    False      False  False     False
1      False    False      False  False     False
2      False    False      False  False     False
3      False    False      False  False     False
4      False    False      False  False     False
5      False    False       True  False     False
6      False    False      False  False     False
7      False    False      False  False     False
8      False     True      False  False     False
9      False    False      False  False     False
10     False     True      False  False     False
11     False    False       True  False     False
12     False    False      False  False     False
13     False    False       True   True     False
14     False     True      False  False     False
15     False    False      False  False     False
16     False    False      False  False     False
17     False    False      False  False     False
18     False    False      False  False     False
19     False    False      False  False     False
20     False    False      False  False     False
21     False    False      False  False     False
22     False    False      False  False     False
23     False    False      False  False     False
24     False    False       True   True     False
25     False    False      False  False     False
26     False    False      False  False     False
27     False    False      False  False      True
28     False    False      False  False     False
29     False    False      False  False     False

In [35]:
df.isnull().sum() #gives the count of null values in every cloumn in  df

Roll No.     0
Physics      3
Chemistry    4
Maths        2
Computer     1
dtype: int64

In [36]:
df.isnull().sum().sum()

10

# **Dropping Rows with null values**

In [37]:
df.shape

(30, 5)

In [38]:
#dropna---used to drop all rows consisting of null values
df1=df.dropna() #by default axis=0
#if we give axis=1 all columns with null values are removed

In [39]:
df1.shape

(22, 5)

# **Dropping columns with null=NaN values**

In [40]:
df2=df.dropna(axis=1)#drop columns with null values

In [41]:
df2.shape

(30, 1)

In [42]:
df.dropna(how="any") # if any row value is null then remove that row

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
9         10     45.0       16.0   17.0      18.0
12        13     22.0       23.0   24.0      25.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [43]:
df.dropna(how="all") #if all row values is null then remove that row

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0        NaN   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9      NaN       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11      NaN       17.0   18.0      19.0
11        12     88.0        NaN   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0        NaN    NaN      42.0
14        15      NaN       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        NaN    NaN      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       NaN
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [44]:
 df.dropna(inplace=True) #The 'inplace=True' argument stands for the data frame has to make changes permanent eg. pandas shows the dataframe with changes we make but will not modify the original dataframe 'df'

In [45]:
df.shape

(22, 5)

**Filling the Null values**

In [46]:
df=pd.read_csv(r"/kaggle/input/sample/sample.csv")
df.head()

   Roll No.  Physics  Chemistry  Maths  Computer
0         1     56.0       57.0   58.0      59.0
1         2     23.0       24.0   25.0      26.0
2         3     89.0       25.0   26.0      27.0
3         4     45.0       26.0   27.0      28.0
4         5     23.0       27.0   28.0      29.0

In [47]:
df.isnull().sum()

Roll No.     0
Physics      3
Chemistry    4
Maths        2
Computer     1
dtype: int64

In [48]:
df.fillna(0) #fill null values with zero

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0        0.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9      0.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11      0.0       17.0   18.0      19.0
11        12     88.0        0.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0        0.0    0.0      42.0
14        15      0.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        0.0    0.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       0.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [49]:
df.fillna(2)  #we can fill null values with any value --here "2"

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0        2.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9      2.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11      2.0       17.0   18.0      19.0
11        12     88.0        2.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0        2.0    2.0      42.0
14        15      2.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        2.0    2.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       2.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [50]:
df.fillna({"Physics":'none',"Chemistry":0,"Maths":30}) #we can customize the null values like this

    Roll No. Physics  Chemistry  Maths  Computer
0          1    56.0       57.0   58.0      59.0
1          2    23.0       24.0   25.0      26.0
2          3    89.0       25.0   26.0      27.0
3          4    45.0       26.0   27.0      28.0
4          5    23.0       27.0   28.0      29.0
5          6    90.0        0.0   29.0      30.0
6          7    12.0       13.0   14.0      15.0
7          8    78.0       14.0   15.0      16.0
8          9    none       15.0   16.0      17.0
9         10    45.0       16.0   17.0      18.0
10        11    none       17.0   18.0      19.0
11        12    88.0        0.0   19.0      20.0
12        13    22.0       23.0   24.0      25.0
13        14    90.0        0.0   30.0      42.0
14        15    none       43.0   43.0      43.0
15        16    44.0       44.0   44.0      44.0
16        17    45.0       45.0   45.0      45.0
17        18    46.0       46.0   46.0      46.0
18        19    47.0       47.0   47.0      47.0
19        20    48.0       48.0   48.0      48.0
20        21    49.0       49.0   49.0      49.0
21        22    50.0       50.0   50.0      50.0
22        23    51.0       51.0   51.0      51.0
23        24    52.0       52.0   52.0      52.0
24        25    53.0        0.0   30.0      53.0
25        26    54.0       33.0   33.0      54.0
26        27    55.0       34.0   34.0      55.0
27        28    56.0       35.0   35.0       NaN
28        29    57.0       36.0   36.0      66.0
29        30    58.0       37.0   37.0      43.0

In [51]:
 df.fillna(method="ffill") #this is forward fill where null values are filled with the just previous value of perticluar row.

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0       27.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9     78.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11     45.0       17.0   18.0      19.0
11        12     88.0       17.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0       23.0   24.0      42.0
14        15     90.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0       52.0   52.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0      55.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [52]:
df.fillna(method="ffill",axis=1) #fill column values as above

    Roll No.  Physics  Chemistry  Maths  Computer
0        1.0     56.0       57.0   58.0      59.0
1        2.0     23.0       24.0   25.0      26.0
2        3.0     89.0       25.0   26.0      27.0
3        4.0     45.0       26.0   27.0      28.0
4        5.0     23.0       27.0   28.0      29.0
5        6.0     90.0       90.0   29.0      30.0
6        7.0     12.0       13.0   14.0      15.0
7        8.0     78.0       14.0   15.0      16.0
8        9.0      9.0       15.0   16.0      17.0
9       10.0     45.0       16.0   17.0      18.0
10      11.0     11.0       17.0   18.0      19.0
11      12.0     88.0       88.0   19.0      20.0
12      13.0     22.0       23.0   24.0      25.0
13      14.0     90.0       90.0   90.0      42.0
14      15.0     15.0       43.0   43.0      43.0
15      16.0     44.0       44.0   44.0      44.0
16      17.0     45.0       45.0   45.0      45.0
17      18.0     46.0       46.0   46.0      46.0
18      19.0     47.0       47.0   47.0      47.0
19      20.0     48.0       48.0   48.0      48.0
20      21.0     49.0       49.0   49.0      49.0
21      22.0     50.0       50.0   50.0      50.0
22      23.0     51.0       51.0   51.0      51.0
23      24.0     52.0       52.0   52.0      52.0
24      25.0     53.0       53.0   53.0      53.0
25      26.0     54.0       33.0   33.0      54.0
26      27.0     55.0       34.0   34.0      55.0
27      28.0     56.0       35.0   35.0      35.0
28      29.0     57.0       36.0   36.0      66.0
29      30.0     58.0       37.0   37.0      43.0

In [53]:
#if we  want fill null value with mean value of complete row
df["Physics"].fillna(value=df["Physics"].mean())  #it fills null values present in physics with mean value of all values in physics.

0     56.000000
1     23.000000
2     89.000000
3     45.000000
4     23.000000
5     90.000000
6     12.000000
7     78.000000
8     52.814815
9     45.000000
10    52.814815
11    88.000000
12    22.000000
13    90.000000
14    52.814815
15    44.000000
16    45.000000
17    46.000000
18    47.000000
19    48.000000
20    49.000000
21    50.000000
22    51.000000
23    52.000000
24    53.000000
25    54.000000
26    55.000000
27    56.000000
28    57.000000
29    58.000000
Name: Physics, dtype: float64

In [54]:
df.fillna(method="bfill",inplace=True) #fill value with forward value of the row

In [55]:
df.fillna(inplace=True)

ValueError: Must specify a fill 'value' or 'method'.

In [ ]:
df

# **REPLACE FUNCTION**

In [ ]:
#if we want to replace a perticluar with another value we use this.
df=pd.read_csv(r"/kaggle/input/sample/sample.csv")
df.head()

In [ ]:
df.replace(to_replace=26,value=30)

In [ ]:
df.replace(34,10000) #1st parameter is actual value ,,2nd parameter is by what value we want to change the value

In [ ]:
df.replace(to_replace=[50,51,52,53,54,55,56,57,58,59],value="A") #value can be any type

In [ ]:
df.replace([50,51,52,53],["A","B","C","D"])

In [ ]:
df["Physics"].replace([50,51,52,53],["A","B","C","D"],inplace=True)
df

In [ ]:
df.replace('[A-Za-z]',0) #it replaces every charecter with "0" value

In [ ]:
#but still we can see alphabets so we need to do this
df.replace("[A-Za-z]",0,regex=True)

In [ ]:
df.replace(15,method="ffill")

In [ ]:
df.replace(15,method="bfill")

# **loc() function**

In [ ]:
# . loc is typically used for label indexing and can access multiple columns, while . iloc is used for integer indexing.
#location loc()---->The loc operator is used to index a portion of the dataframe. loc supports indexing both by row and column names and by using boolean expressions.
import pandas as pd

In [ ]:
df=pd.read_csv(r"/kaggle/input/sample2/sample2.csv",index_col=["Roll No."])
df.head()
#index_col ---it is used to index the table with our own name.--here indexing starts form 1 not the 0.
#we have to pass colunm or row name with which we want to access the table.

In [ ]:
#df.loc[1] #it return the first row not the 0th row
df.loc[[1]]

In [ ]:
df.loc[5]

In [ ]:
df.loc[[5,6,7,8]]

In [ ]:
df.loc[5,"Physics"]

In [ ]:
df.loc[5:15,"Chemistry"]

In [ ]:
df.loc[df["Physics"]<50]

In [ ]:
df.loc[df["Physics"]>80,["Maths"]]

* loc is label-based, which means that you have to specify rows and columns based on their row and column labels
* iloc is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

**iloc()**

In [ ]:
#index location---here index starts from 0 not 1.
df.iloc[0] #first row will be 0 index

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[[0,1,2]]

In [ ]:
df.iloc[:,0]

In [ ]:
df.iloc[:,1]

In [ ]:
df.iloc[0:5,1]

In [ ]:
df.iloc[0:5,1:4]

In [ ]:
#loc()---it take indexes of that column which you have made as index.
#iloc()----it take (0-based indexing) as an input--strats with 0.

# #GroupBy() function

In [ ]:
#it is going form groups according to the parameter that we have provided.
df=pd.read_csv(r"/kaggle/input/sample2/sample2.csv")
df.head()

In [ ]:
branch_group=df.groupby(by="Branch")
branch_group

In [ ]:
branch_group.groups  #it prints the data present in given group
#below number are the indexes where the perticular attribute present in the table.

In [ ]:
gp2=df.groupby(by=["Branch","Section"])
gp2.groups

In [ ]:
for group,data_frame in gp2:
    print(group)
    print(data_frame)

# #Merge() Function

In [ ]:
#it is going to merge the data frames

In [ ]:
df=pd.DataFrame({"roll no":[1,2,3,4,5],"Physics":[34,67,34,89,12]})
df

In [ ]:
df1=pd.DataFrame({"roll no":[1,2,3,4,5],"Chemistry":[78,33,39,81,90]})
df1

In [ ]:
pd.merge(df,df1,on="roll no")

In [ ]:
pd.merge(df1,df,on="roll no")

In [ ]:
pd.merge(df,df1) #on--by default intersecting column will be taken.

In [ ]:
df3=pd.DataFrame({"roll no":[1,2,3,6,7],"Physics":[23,67,45,78,99]})
df4=pd.DataFrame({"roll no":[1,2,3,8,9],"Chemistry":[24,68,49,79,99]})

In [ ]:
# # it is going to take only values of intersecting

pd.merge(df3,df4)

In [ ]:
pd.merge(df3,df4,how="left")
#indexes on th df3 only will be taken.

In [ ]:
pd.merge(df3,df4,how="right")  #it will take all values in df4

In [ ]:
pd.merge(df3,df4,how="outer") #it will take both values in both datafframes

# #append() Function

In [ ]:
#it is similar to merge 
#but here we gonna append one df into  another df.

In [ ]:
df1=pd.DataFrame({"roll no":[1,2,3,4,5],"Maths":[10,20,30,40,50],"Physics":[100,200,300,400,500]})
df2=pd.DataFrame({"roll no":[6,7,8,9,10],"Maths":[60,70,80,90,100],"Physics":[600,700,800,900,1000]})
print(df1)
print(df2)

In [ ]:
df1.append(df2) #df2 is appended to df1

In [ ]:
df2.append(df1)

In [ ]:
df1.append(df2,ignore_index=True) #indexes will be incremented

In [ ]:
df1.append(df2,ignore_index=True,sort=True) #it used to sort

In [ ]:
df1=pd.DataFrame({"roll no":[1,2,3,4,5],"Chemistry":[45,67,34,78,67],"Maths":[10,20,30,40,50],"Physics":[100,200,300,400,500]})
df2=pd.DataFrame({"roll no":[6,7,8,9,10],"Maths":[60,70,80,90,100],"Physics":[600,700,800,900,1000]})
print(df1)
print(df2)

In [ ]:
df1.append(df2,ignore_index=True)

# #Pivot Table

In [ ]:
#The pivot table function takes in a data frame and the parameters detailing the shape you want the data to take. Then it outputs summarized data in the form of a pivot table.

In [ ]:
df=pd.read_csv(r"/kaggle/input/sample2/sample2.csv")
df.head()

In [ ]:
pd.pivot_table(df,index="Branch")  
#by default the below values are mean values.

In [ ]:
pd.pivot_table(df,index="Branch",aggfunc="sum")
#it will gives the sum of total marks of students.

In [ ]:
pd.pivot_table(df,index="Branch",aggfunc="count")
#it reutrns of no.of students .

In [ ]:
pd.pivot_table(df,index="Branch",aggfunc="max")

In [ ]:
pd.pivot_table(df,index="Branch",columns="Section")
#it will give deatiled view of the table.